@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container-fluid">
    <div class="col-12 pt-5 pb-5">
        <hr />
    </div>
    <div class="row">
        @*Show TT *@
        <div class="col-lg-2"></div>
        <div class="col-lg-6 pt-md-3 bg-dark text-white">
            <header>
                <h1 style="text-align: justify">Chứng minh tài chính lùi ngày</h1>
            </header>
            <div class="mb-4">
                
            </div>
            
            @* Show Bảng Báo Giá *@
            
        </div>
        @* Show ads *@
        <div class="col-lg-2 pt-3 bg-dark border-left">
            <div class="col-12 bg-dark pb-3 text-center">
                <div>
                    <h5 class="font-weight-bold text-danger">Hotline</h5>
                    <p class="text-white">0961748174</p>
                </div>
                <p class="text-white mb-2">Email: yinyang.wsvn@gmail.com</p>
            </div>
            <div class="col-12 bg-dark pb-md-3">
                <div class="text-white">
                    <h5>Những câu hỏi thường gặp</h5>
                </div>
                <div class="dropdown-divider"></div>
                <div class="font-weight-bold text-info"><a>Phương thức thanh toán</a></div>
                <br />
                <div class="font-weight-bold text-info"><a>Lý do chọn chúng tôi</a></div>
                <br />
                <div class="font-weight-bold text-info"><a>Phương thức liên hệ</a></div>
            </div>
        </div>
    </div>

</div>