@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="col-12 pt-5 pb-5">
        <hr />
    </div>
    <div class="row">
        @*Show TT *@
        <div class="col-lg-2"></div>
        <div class="col-lg-6 pt-md-3 bg-dark text-white">
            <div class="text-center">
            <h1>Dịch vụ chứng minh tài chính SG</h1>
            <p>Chứng minh tài chính du học, đi du lịch, thăm thân, công tác, khám chữa bệnh. 
            Mở sổ tiết kiệm xin visa đi Mỹ, Úc, Pháp, Đức, Anh, New Zealand, Canada, Nhật Bản, Hàn Quốc, Đài Loan… Không cần tài sản bảo đảm. 
            Cực kỳ đơn giản chỉ cần chứng minh thư và hộ khẩu photo. 
            Đảm bảo 100% đủ tiêu chuẩn cấp Visa. Để thuận tiện cho quý khách, chúng tôi cung cấp các dịch vụ: chứng minh tài chính lùi ngày và dịch vụ tư vấn xin visa. 
            Miễn phí giao hồ sơ tận nơi và hỗ trợ thu phí khi giao hồ sơ.</p>
            <h2>Bảng phí chứng minh tài chính xin Visa 2018</h2>
            <p>TP Hồ Chí Minh,Hà Nội, Đồng Nai, Vũng Tàu, Cần Thơ, An Giang, Đồng Tháp</p>
            <p>Đà Nẵng, Đắk Lắk, Nha Trang, Bình Thuận</p>
                </div>
            @* Show Bảng Báo Giá *@
            <table class="table bg-white text-center text-dark">
                <thead>
                    <tr>
                        <th scope="col">Sổ tiết kiệm </th>
                        <th scope="col">Kỳ hạn sổ  </th>
                        <th scope="col">Phí duy trì 1 tháng </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">100 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">799,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">200 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">800,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">300 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">900,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">400 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,000,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">500 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,100,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">600 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,250,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">700 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,400,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">800 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,600,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">900 triệu</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,800,000</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">1 tỷ</td>
                        <td style="text-align:center">6-12 tháng</td>
                        <td style="text-align:center">1,999,000</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center">Phí mượn sổ tiết kiệm đi phỏng vấn (nếu có nhu cầu): 300.000 VNĐ</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align:center">Mở sổ tiết kiệm lùi ngày</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Sổ tiết kiệm</td>
                        <td style="text-align:center">Thời gian lùi</td>
                        <td style="text-align:center">Phí duy trì 1 tháng</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">Từ 100 triệu đến 10 tỷ</td>   
                        <td style="text-align:center">Từ 3 tháng đến 2 năm</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <p>“Cam kết bồi thường 500% nếu Quý khách hàng trượt Visa do lỗi của chúng tôi như: giấy xác nhận số dư không đúng tiêu chuẩn, sổ tiết kiệm không được ngân hàng xác nhận…“</p>
            <br />
            <p>“Với khách hàng thường xuyên: ưu đãi đặc biệt cam kết thấp nhất và chất lượng tốt nhất thị trường”</p>
            <br />
            <h3 class="text-danger">Hotline: 0961748174 </h3>
            <h3>1. Hồ sơ làm chứng minh tài chính gồm những gì?</h3>
            <ul>
                <li>
                    <p>Chứng minh thư và sổ hộ khẩu: bản photo hoặc scan, chụp hình. Yêu cầu rõ nét, không mất chữ, số… Lưu ý, chứng minh thư có thể thay thế bằng hộ chiếu.</p>
                </li>
            </ul>
            <h3>2. Hồ sơ quý khách nhận được</h3>
            <ul>
                <li>02 (hai) giấy xác nhận số dư sổ tiết kiệm song ngữ Tiếng Việt và Tiếng Anh.</li>
                <li>02 (hai) bản sao sổ tiết kiệm đóng dấu đối chiếu bản chính của Ngân hàng.</li>
                <li>Sổ tiết kiệm gốc đối với khách hàng cần mượn sổ đi phỏng vấn.</li>
            </ul>
            <h4>Hồ sơ chứng minh tài chính sẽ được sử dụng như thế nào? </h4>
            <ul>
                <li>Chứng minh tài chính du học thông thường sẽ được sử dụng 2 lần: Lần thứ nhất, dùng để nộp hồ sơ xin thư mời nhập học. Lần thứ hai, khi nộp hồ sơ xin visa tại Đại sứ quán.</li>
                <li>Chứng minh tài chính du lịch sử dụng 1 lần khi bạn nộp hồ sơ xin visa tại Đại sứ quán.</li>
            </ul>
            <h3>3. Phương thức thanh toán của Chứng minh tài chính SG?</h3>
            <ul>
                <li>Trường hợp không giao dịch trực tiếp: quý khách gửi hồ sơ bao gồm chứng minh thư và sổ hộ khẩu qua email: yinyang.wsvn@gmail.com Thanh toán phí qua chuyển khoản chi tiết tại đây. Phương thức nhận hồ sơ: qua chuyển phát nhanh, trực tiếp.</li>
                <li>
                    Trường hợp giao dịch trực tiếp: tại văn phòng
                    Yin-Yang Workshop, Số 13 Lô I, Đường 41, Phường 10, Quận 6, 700000 Ho Chi Minh City
                </li>
            </ul>
            <h3>4. Chúng tôi hỗ trợ bạn chứng minh tài chính như thế nào?</h3>
            <ul>
                <li>Thông qua Chứng minh tài chính SG: Ngân hàng sẽ cho vay tiền chứng minh năng lực tài chính. Và dùng chính số tiền đó để mở sổ tiết kiệm. Sổ tiết kiệm này sẽ được dùng làm tài sản bảo đảm cho chính món vay của bạn. Ngân hàng sẽ tiến hành xác nhận số dư, sao y sổ tiết kiệm và cho mượn sổ tiết kiệm gốc nếu cần. </li>
            </ul>
            <h3>5. Hệ thống ngân hàng của chúng tôi</h3>
            <ul>
                <li>Vietinbank, Sacombank, BIDV, NCB, SCB, SHB, EximBank, AgriBank, SeaBank, OceanBank, VietcomBank, BIDC…</li>
            </ul>
            <h3>6. Lý do chọn dịch vụ của Chứng minh tài chính SG</h3>
            <ul>
                <li class="text-justify">
                    <p>Uy tín: Chứng minh tài chính SG được thành lập từ nhóm cán bộ tín dụng dày dặn kinh nghiệm trong lĩnh vực tín dụng cá nhân. Là đơn vị uy tín với thị phần đứng đầu cả nước, đã cung cấp và làm hài lòng hơn 5000 khách hàng trên toàn quốc.
                    </p>
                </li>
                <li class="text-justify">
                    <p>Minh bạch: Các mức phí đều được công khai rõ ràng. Không phụ thu bất cứ khoản chi phí nào nếu khách hàng không có yêu cầu khác. Tất cả các giao dịch đều có chứng từ đầy đủ. Giao dịch trực tiếp công ty, ngân hàng, tại địa chỉ khách hàng yêu cầu.
                    </p>
                </li>
                <li class="text-justify">
                    <p>An toàn: SG thực hiện xử lý hồ sơ theo quy trình của Ngân hàng. Các sổ tiết kiệm đều tồn tại trên hệ thống ngân hàng trong thời gian yêu cầu của khách hàng như 1 tháng, 2 tháng… Không thực hiện hình thức mở sổ rồi tất toán.
                    </p>
                </li>
            </ul>
        </div>
        @* Show ads *@
            <div class="col-lg-2 pt-3 bg-dark border-left">
                <div class="col-12 bg-dark pb-3 text-center">
                    <div>
                        <h5 class="font-weight-bold text-danger">Hotline</h5>
                        <p class="text-white">0961748174</p>
                    </div>
                    <p class="text-white mb-2">Email: yinyang.wsvn@gmail.com</p>
                </div>
                <div class="col-12 bg-dark pb-md-3">
                    <div class="text-white">
                        <h5>Những câu hỏi thường gặp</h5>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="font-weight-bold text-info"><a href="~/Home/PhuongThucThanhToan">Phương thức thanh toán</a></div>
                    <br />
                    <div class="font-weight-bold text-info"><a href="~/Home/LyDoLuaChon">Lý do chọn chúng tôi</a></div>
                    <br />
                    <div class="font-weight-bold text-info"><a href="~/Home/Contact">Phương thức liên hệ</a></div>
                </div>
            </div>
    </div>

</div>