@{
    ViewBag.Title = "Lý do lựa Chọn Chúng tôi";
}

<div class="container-fluid">
    <div class="col-12 pt-5 pb-5">
        <hr />
    </div>
    <div class="row">
        @*Show TT *@
        <div class="col-lg-2"></div>
        <div class="col-lg-6 pt-md-3 bg-dark text-white">
            <header>
                <h1 style="text-align: justify">Lý do lựa chọn chúng tôi</h1>
            </header>
            <div class="mb-4 ">
                <p>Chứng minh tài chính SG là dịch vụ của Công ty Cổ phần Banker Việt Nam. Công ty hàng đầu trong lĩnh vực hỗ trợ người đi du lịch du học… nước ngoài. </p>
            </div>
            <h2 class="text-center" style="color:#ff6600">Lý do lựa chọn</h2>
            <ol>
                <li>Uy tín. Được thành lập từ nhóm cán bộ tín dụng dày dặn kinh nghiệm trong lĩnh vực tín dụng cá nhân. Chứng minh tài chính SG là đơn vị uy tín với thị phần đứng đầu cả nước; đã cung cấp và làm hài lòng hơn 10.000 khách hàng trên toàn quốc.</li>
                <li>Minh bạch. Các mức phí đều được công khai rõ ràng. Không phụ thu bất cứ khoản chi phí nào nếu khách hàng không có yêu cầu khác. Tất cả các giao dịch đều có chứng từ đầy đủ. Giao dịch trực tiếp công ty, ngân hàng, tại địa chỉ khách hàng yêu cầu.</li>
                <li>An toàn. Chúng tôi thực hiện xử lý hồ sơ theo quy trình của Ngân hàng. Các sổ tiết kiệm đều tồn tại trên hệ thống ngân hàng trong thời gian yêu cầu của khách hàng như 1 tháng, 2 tháng… Không thực hiện hình thức mở sổ rồi tất toán.</li>
                <li>Chi phí hợp lý nhất: Chúng tôi luôn phấn đấu miệt mài với tiêu chí chất lượng dịch vụ tốt nhất và chi phí hợp lý nhất. Chứng minh tài chính SG áp dụng mức phí thấp nhất thị trường từ 2015 cho đến nay với chất lượng dịch vụ không ngừng được cải thiện.</li>
                <li>Phương thức giao dịch linh hoạt để khách hàng lựa chọn. Tùy từng trường hợp, chúng tôi hỗ trợ khách hàng đến mức tối đa. Thời gian và tiền bạc của khách hàng là quan trọng nhất.</li>
                <li>Không tài sản thế chấp, thời gian xử lý hồ sơ chỉ 1-2 ngày: Chứng minh tài chính đi du lịch, du học là sản phẩm dịch vụ của ngân hàng. Bạn không cần tài sản thế chấp, sổ tiết kiệm của bạn đảm bảo 100% đạt yêu cầu của đại sứ quán. Thủ tục cực kỳ đơn giản và thời gian xử lý hồ sơ chỉ 1-2 ngày. Trường hợp gấp, chúng tôi có thể hỗ trợ trong 1 buổi làm việc.</li>
            </ol>
            <p class="text-center">Hãy liên lạc ngay với chúng tôi để được tư vấn chi tiết bạn nhé</p>
        </div>
        @* Show ads *@
        <div class="col-lg-2 pt-3 bg-dark border-left">
            <div class="col-12 bg-dark pb-3 text-center">
                <div>
                    <h5 class="font-weight-bold text-danger">Hotline</h5>
                    <p class="text-white">0961748174</p>
                </div>
                <p class="text-white mb-2">Email: yinyang.wsvn@gmail.com</p>
            </div>
            <div class="col-12 bg-dark pb-md-3">
                <div class="text-white">
                    <h5>Những câu hỏi thường gặp</h5>
                </div>
                <div class="dropdown-divider"></div>
                <div class="font-weight-bold text-info"><a href="~/Home/PhuongThucThanhToan">Phương thức thanh toán</a></div>
                <br />
                <div class="font-weight-bold text-info"><a href="~/Home/LyDoLuaChon">Lý do chọn chúng tôi</a></div>
                <br />
                <div class="font-weight-bold text-info"><a href="~/Home/Contact">Phương thức liên hệ</a></div>
            </div>
        </div>
    </div>

</div>