@{
    ViewBag.Title = "Sổ Tiết Kiệm Lùi Ngày";
}

<div class="container-fluid">
    <div class="col-12 pt-5 pb-5">
        <hr />
    </div>
    <div class="row">
        @*Show TT *@
        <div class="col-lg-2"></div>
        <div class="col-lg-6 pt-md-3 bg-dark text-white">
            <header>
                <h1 style="text-align: justify">Chứng minh tài chính lùi ngày</h1>
            </header>
            <div class="mb-4">
                <p style="text-align: justify">Dịch vụ chứng minh tài chính lùi ngày, mở sổ tiết kiệm lùi ngày đi du học, du lịch: Mỹ, Canada; Anh, Schengen; Úc, NewZealand; Hàn Quốc, Nhật Bản, Đài Loan… chuyên nghiệp, uy tín với chi phí hợp lý.</p>
            </div>
            <p style="text-align: justify">Một số trường hợp, ĐSQ yêu cầu phải có sổ tiết kiệm mở trước thời điểm xin visa từ 3 đến 6 tháng thậm chí 1 năm. Việc này gây ra khó khăn cho các du học sinh và khách du lịch. Nhằm hỗ trợ các trường hợp không thể đáp ứng yêu cầu của đại sứ quán, lãnh sự. Chúng tôi cung cấp dịch vụ chứng minh tài chính lùi ngày; mở sổ tiết kiệm lùi ngày chuyên nghiệp uy tín với chi phí hợp lý.</p>
            <h2 style="text-align:center">Chứng minh tài chính lùi ngày</h2>
            <p style="text-align:center">Mở sổ tiết kiệm lùi ngày</p>
            <ul>
                <li><span>Số tiền trên sổ tiết kiệm: </span><span style="color:#ff6600">Từ 100 triệu đến 10 tỷ</span></li>
                <li><span>Thời gian lùi: </span><span style="color:#ff6600"> từ 1 tháng đến 2 năm</span></li>
                <li><span>Thời gian giải quyết hồ sơ: </span><span style="color:#ff6600"> từ 1 đến 2 ngày</span></li>
                <li>Mượn sổ tiết kiệm vào ngày phỏng vấn. Chúng tôi sẽ mang sổ tiết kiệm đến đại sứ quán giao cho khách hàng đi phỏng vấn. Sau khi phỏng vấn, khách hàng giao lại sổ cho chúng tôi.</li>
            </ul>
            @* Show Bảng Báo Giá *@
            <table class="table bg-white text-center text-dark">
                <thead>
                    <tr>
                        <th scope="col">Sổ tiết kiệm</th>
                        <th scope="col">Giấy xác nhận</th>
                        <th scope="col">Duy trì 01 tháng</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">100 triệu</td>
                        <td style="text-align:center">2.500.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">200 triệu</td>
                        <td style="text-align:center">2.500.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">300 triệu</td>
                        <td style="text-align:center">3.000.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">400 triệu</td>
                        <td style="text-align:center">3.000.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">500 triệu</td>
                        <td style="text-align:center">3.500.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">600 triệu</td>
                        <td style="text-align:center">3.500.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">700 triệu</td>
                        <td style="text-align:center">4.000.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">800 triệu</td>
                        <td style="text-align:center">4.000.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">900 triệu</td>
                        <td style="text-align:center">4.500.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">1 tỷ</td>
                        <td style="text-align:center">5.000.000</td>
                        <td style="text-align:center">Call</td>
                    </tr>
                    <tr>
                        <td colspan="3"><span class="font-weight-bold" style="color:crimson">Trên 1 tỷ liên hệ 0961748174</span></td>
                    </tr>
                </tbody>
            </table>
            <h2 style="color:#ff6600">Chúng tôi chứng minh tài chính lùi ngày như thế nào?</h2>
            <ul>
                <li style="text-align:justify">Dịch vụ chứng minh tài chính SG sẽ tìm kiếm những khách hàng gửi tiền có sổ tiết kiệm đúng mệnh giá, kỳ hạn, và thời gian gửi theo yêu cầu của khách hàng và thuê lại sổ tiết kiệm đó. Sổ tiết kiệm sẽ được chuyển nhượng sang tên khách hàng. Với mệnh giá, kỳ hạn gửi và thời gian gửi theo đúng yêu cầu.</li>
            </ul>
            <ul>
                <li style="text-align:justify">Dịch vụ chứng minh tài chính SG sẽ tìm kiếm những khách hàng gửi tiền có sổ tiết kiệm đúng mệnh giá, kỳ hạn, và thời gian gửi theo yêu cầu của khách hàng và thuê lại sổ tiết kiệm đó. Sổ tiết kiệm sẽ được chuyển nhượng sang tên khách hàng. Với mệnh giá, kỳ hạn gửi và thời gian gửi theo đúng yêu cầu.</li>
            </ul>
            <strong>Dịch vụ chứng minh tài chính lùi ngày có đủ tiêu chuẩn của các đại sứ quán?</strong>
            <ul>
                <li style="text-align:justify">Chứng minh tài chính SG đã chọn lọc rất kỹ sản phẩm, quy trình của ngân hàng, sổ tiết kiệm chuyển nhượng hoàn toàn không có thông tin chuyển nhượng, không khác một sổ tiết kiệm thông thường của khách hàng và đảm bảo 100% đủ tiêu chuẩn của các đại sứ quán  Anh, Úc, NewZealand, Hàn Quốc, Nhật Bản, Canada, Đài Loan…</li>
            </ul>
            <strong>Dịch vụ chứng minh tài chính lùi ngày có uy tín không?</strong>
            <ul>
                <li>Chứng minh tài chính SG được thành lập từ nhóm cán bộ tín dụng dày dặn kinh nghiệm. Chúng tôi thấu hiểu quá trình làm hồ sơ du học, du lịch tốn nhiều thời gian, công sức, tiền bạc như thế nào. Dịch vụ của chúng tôi luôn<span style="color:#ff6600"> cam kết mang đến chất lượng tốt nhất làm hài lòng khách hàng khó tính nhất!</span></li>
                <li>Trên thị trường không có đơn vị nào có trụ sở rõ ràng, mạng lưới ngân hàng rộng khắp toàn quốc và hoạt động chuyên nghiệp như Chứng minh tài chính SG.<span style="color:#ff6600"> Uy tín của chúng tôi được khẳng định với hơn 5000 khách hàng trên cả nước, và không có bất kỳ phản hồi tiêu cực nào.</span></li>
            </ul>
            <h3>Liên hệ ngay để được tư vấn:<span style="color:crimson"> 0961748174</span></h3>
        </div>
        @* Show ads *@
        <div class="col-lg-2 pt-3 bg-dark border-left">
            <div class="col-12 bg-dark pb-3 text-center">
                <div>
                    <h5 class="font-weight-bold text-danger">Hotline</h5>
                    <p class="text-white">0961748174</p>
                </div>
                <p class="text-white mb-2">Email: yinyang.wsvn@gmail.com</p>
            </div>
            <div class="col-12 bg-dark pb-md-3">
                <div class="text-white">
                    <h5>Những câu hỏi thường gặp</h5>
                </div>
                <div class="dropdown-divider"></div>
                <div class="font-weight-bold text-info"><a href="~/Home/PhuongThucThanhToan">Phương thức thanh toán</a></div>
                <br />
                <div class="font-weight-bold text-info"><a href="~/Home/LyDoLuaChon">Lý do chọn chúng tôi</a></div>
                <br />
                <div class="font-weight-bold text-info"><a href="~/Home/Contact">Phương thức liên hệ</a></div>
            </div>
        </div>
    </div>

</div>